selenium
pandas
matplotlib
# openpyxl
# jupyter
# jq
# scrapy
beautifulsoup4
lxml
requests
# seaborn
jsondiff
streamlit
selenium_stealth
undetected_chromedriver
python-dotenv
streamlit-carousel
pymongo
setuptools # https://stackoverflow.com/questions/77247893/modulenotfounderror-no-module-named-distutils-in-python-3-12

